<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <title>TDT Network</title>
    
</head>

<body>
    <nav class="nav bg-light sticky-top nav-bar mb-2">
        <div class="container-fluid d-flex justify-content-around" id="img-nav">
            <img src="../public/logo.png" alt="logo" >
            <div>
                <a href="#">
                    <h1><i class="bi bi-house"></i></h1>    
                </a>
            </div>
            <div>
                <a href="#">
                    <h1><i class="bi bi-newspaper"></i></h1>    
                </a>
            </div>
            <div>
                <a href="#">
                    <h1><i class="bi bi-calendar-date"></i></h1>    
                </a>
            </div>
            <div>
                <a href="#">
                    <h1><i class="bi bi-person-circle"></i></h1>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <!-- news feed section -->
            <div class="col-3 wall-left">
                <h1>Trang chủ<h1>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <h5> <a href="#" id="congthongtin">Phân loại thông báo</a></h5>
                <h5> <a href="#" id="congthongtin">Cổng thông tin </a></h5>
            </div>

            
            <!-- notification section -->
            <div class="col-9 ">
                <div class="feed">
                    <div class="d-flex justify-content-center">
                        <h1>Thông báo</h1>
                    </div>
                    <div class="d-flex flex-column ">
                        <div class="p-2">
                            <input type="text" id="name-notification" name="name-notification" placeholder="Tìm kiếm theo tên thông báo">
                            <input type="text" id="detail-noti" name="detail-noti" placeholder="Tìm kiếm theo nội dung">
                            <select name="chon-khoa" id="chon-khoa" >
                                <option default value="">Chọn khoa</option>
                                <option value="cntt">CNTT</option>
                                <option value="ketoan">Kế toán</option>
                                <option value="nganhang">Ngân hàng</option>
                            </select>
                        </div>
                        <div class="pagination">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
                        <div class="notification-detail p-2">
                            <b id="tenthongbao">Tên</b></br>
                            Nội dung</br>
                            <a href ="#" id = "chitietthongbao"> Chi tiết thông báo </a>
                        </div>
                        <div class="notification-detail p-2">
                            <b id="tenthongbao">Tên</b></br>
                            Nội dung111111111111111111111111111111111111111111111dung111111111111111111111111111111111111111111111dung111111111111111111111111111111111111111111111dung111111111111111111111111111111111111111111111</br>
                            <a href ="#" id = "chitietthongbao"> Chi tiết thông báo </a>
                        </div>
                        <div class="notification-detail p-2">
                            <b id="tenthongbao">Tên</b></br>
                            Nội dung</br>
                            <a href ="#" id = "chitietthongbao"> Chi tiết thông báo </a>
                        </div>
                        <div class="notification-detail p-2">
                            <b id="tenthongbao">Tên</b></br>
                            Nội dung</br>
                            <a href ="#" id = "chitietthongbao"> Chi tiết thông báo </a>
                        </div>

                        

                        
                    </div>
                    
                </div>
                
                <!-- calendar section? -->
                
            </div>
           
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../client/index.js"></script>
</body>

</html>